body {
    margin: 0;
    padding: 0;
}
#veliava,
#veliava2 {
    height: 300px;
    width: 500px;
    margin: 20pt auto 20pt auto;
}
h1 {
    text-align: center;
}
#geltona,
#geltona2 {
    background-color: rgb(253, 185, 19);
}
#zalia {
    background-color: rgb(0, 106, 68);
}
#raudona {
    background-color: rgb(193, 39, 45);
}
#melyna {
    background-color: rgb(0, 0, 255);
}
#geltona, #zalia, #raudona {
    height: 100px;
}
#melyna, #geltona2 {
    height: 150px;
}